* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color:white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height:60px;
    top: 0;
    z-index: 3;
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navleft{
    display: flex;
    align-items: center;
    
}

.navleft p {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 18px;
    color: #333;
}

.navleft i {
    margin-right: 10px;
}
.navleft img{
    width: 60px;
    background-color: #333;
}
.navcenter{
    color:#333 ;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.backgroundclip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    
}

.content h1{
 text-align: center;
}
