<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <nav class="navigationbar">
            <!---------------nav left---------------->
            <div class="navleft">
              
                <p>
                <i class="material-icons">menu</i>
                Dashboards
                </p>  
                <img src="/Assets/Images/knustlog.png" alt="">
            </div>
            <!--------------nav center---------------->
            <div class="navcenter">
                
            </div>
            <!----------------nav right--------------->
            <div class="navright">
    
            </div>
        </nav>
    
    
    
        </div>
    <div class="container">
        
          <div  class="backgroundclip">
        <video autoplay loop muted plays-inline  id="background-video">
        <source src="/Assets/Images/exams.mp4" type="video/mp4">
        </video>
    </div>
        <div class="content">
            <h1>Welcome to KNUST College of Science Student Learning Support</h1>
            <p>Your central hub for academic resources and peer support</p>
        </div>
    </div>
</body>
</html>